{
  "presets": [
    "es2015",
    "stage-0",
    "react",
  ],
  "plugins": [
    [ "transform-react-jsx", { "pragma": "Preact.h" } ],
    [ "transform-decorators-legacy" ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
