.post
  border-top: 1px solid $post-border
  padding: 0 16px 16px

  @media (min-width: 1024px)
    padding: 0 0 16px 0

  &:first-child
    border-top: 0

  &__header
    height: 56px
    display: flex
    align-items: center

.comment-input
  display: flex
  position: relative

  &__btn
    padding: 0
    position: absolute
    right: 0
    appearance: none
    background: none
    color: $accent-2
    border: 0
    bottom: 8px
    cursor: pointer

  .input-wrapper
    flex: 1

    input
      padding-right: 24px
